[submodule "vivado-boards"]
	path = vivado-boards
	url = git@github.com:UNO-NULLify/eCTF20-vivado-boards.git
[submodule "scripts/clang-format-hooks"]
	path = scripts/clang-format-hooks
	url = https://github.com/barisione/clang-format-hooks.git
[submodule "pl"]
	path = pl
	url = git@github.com:UNO-NULLify/eCTF20-base-linux.git
	branch = dev
